body { /*fuente generica para toda la web*/
    margin: 0px;
    font-family: Helvetica, Arial, Sans-Serif;
}

table,
td,
th { /*bordes genericos para las tablas de la web*/
    border: 0px solid black;
    border-collapse: collapse;
}

td {
    text-align: center;
}

table {
    width: 100%;
    height: 100%;
}

#root { 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#register h1,
#login h1 {
    text-align: center;
    background: rgb(21, 130, 255);
    color: #fff;
    padding: 20px;
}

.blue { /* Clase para remarcar un texto en azul y negrita */
    color: rgb(21, 130, 255);
    font-weight: bold;
}

.left { /* Clase para alinear el texto a la izquierda */
    text-align: left;
}

.thumbnails { /* Clase para ajustar el tamaño de las imágenes o iconos */
    width: 100%;
    height: 150px;
    font-size: 150px;
    text-align: center;
}

#registerTable,
#loginTable {
    width: 50px;
    margin: 0 50px;
    margin-left: 25%;
    margin-right: 100%;
    position: relative;
    left: 50%;
    text-align: center;
    width: 500px;
    margin-left: -250px;
    border: 1px solid #000;
}

#registerTable th,
#loginTable th {
    background: #333;
    color: #fff;
}

#registerTable td,
#loginTable td {
    padding: 20px;
}

header,
footer { /* Colores de fondo y texto para el header y footer */
    color: white;
    background-color: #333;
}

.left-navbar { /* Clase para los colores del menú izquierdo, también cambiar el puntero */
    color: white;
    background-color: #333;
    cursor: pointer;
}

.left-navbar:hover, 
.top-navbar:hover { /* Clase para cambiar de color la categoria del menú que estamos mirando */
    background-color: rgb(21, 130, 255);
}

#pageContent { /* El contenido de la página */
    background-color: #eee;
    color: black;
}

.top-navbar { /* Clase para cambiar el puntero del menú superior */
    cursor: pointer;
}

.top-navbar:active { /* Clase para cambiar de color la categoria del menú que tenemos seleccionado */
    background-color: rgb(5, 113, 255);
}

.error { /* Clase de error */
    color: #f00;
}

.hidden { /* Clase para volver algo invisible */
    display: none;
}

.greydiv {
    border: 1px solid black;
    border-radius: 15px;
    background-color: lightgrey;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px 30px;
}

.regularWeight { /* Clase para quitar la negrita */
    font-weight: normal;
}

.link { /* Clase para quitar los cambios automáticos a una etiqueta enlace */
    color: #fff;
    text-decoration: none;
    display: block;
}

.bigIcon { /* Clase para iconos grandes */
    font-size: 50px;
}

.index-return { /* Clase para el botón que vuelve al indice, usado desde el login y register */
    position: absolute;
    top: 40px;
    left: 20px;
    color: #fff;
    font-size: 35px;
}

fieldset { /* Bordes para los formularios */
    border: 5px solid #ddd;
    border-radius: 5px;
}

legend { /* Ajustes para las leyendas de los formularios */
    background: #ebeced;
    padding: 5px 10px;
    border-radius: 5px;
}

summary { /* Quitar el borde automático de los summary */
    outline: none;
}

details ul { /* Quitar los puntos automáticos de los ul en las categorias */
    list-style: none;
}

details li { /* Ajustes a las listas de las categorias */
    text-align: left;
    margin-left: 20%;
    border-left: 3px solid #1582ff;
    border-spacing: 10px;
    border-collapse: separate;
    padding-bottom: 5px;
    padding-left: 5px;
}

details li a { /* Clase para quitar los cambios automáticos a una etiqueta enlace */
    text-decoration: none;
    color: #fff;
}

.left-navbar:hover details li { /* Clase para cambiar el color de borde al pasar por encima de una categoria */
    border-color: #000;
}

.bluebox { /* Clase azul */
    background: lightblue;
    color: navy;
}

.datatable thead { /* Clase gris */
    background-color: lightgray;
    color: black;
}

#subir-multimedia { /* Clase para el botón de subir multimedia */
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 23%;
}

.table-checkbox td {
    text-align: left;
}
/*Diseño para los botones de control de audio y de video*/
.audio-buttons button, .video-buttons button {
    color:#fff;
    background-color:#5bc0de;
    border-color:#46b8da;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid
    transparent;
    border-radius: 4px;
}
/*Cargar imagenes del sprite*/
.bg-multimedia {
    width: 330px;
    height: 194px;
    background: url('../multimedia/img/css_sprites.png') -10px -10px;
    background-size: 500px;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    
}

.bg-audio {
    width: 310px; height: 162px;
    background: url('../multimedia/img/css_sprites.png') -10px -405px;
    margin: 0 auto;
    position: relative;
}

.bg-video {
    width: 300px; height: 300px;
    background: url('../multimedia/img/css_sprites.png') -656px -10px;
    margin: 0 auto;
    position: relative;
}