<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

<head>
	<title>My Play a Entertainment Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="My Play Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- bootstrap -->
	<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' media="all" />
	<!-- //bootstrap -->
	<link href="css/dashboard.css" rel="stylesheet">
	<!-- Custom Theme files -->
	<link href="css/style.css" rel='stylesheet' type='text/css' media="all" />
	<script src="js/jquery-1.11.1.min.js"></script>
	<!--start-smoth-scrolling-->
	<!-- fonts -->
	<link
		href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
		rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<!-- //fonts -->
</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">
					<h1 class="text-primary">iUTiUB</h1>
				</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<div class="top-search">
					<form class="navbar-form navbar-right" action="resultadosBusquedaGenerica.html">
						<input type="text" class="form-control" placeholder="Search...">
						<input type="submit" value=" ">
					</form>
				</div>
				<div class="header-top-right">
					<div class="file">
						<a href="upload.html">Upload</a>
					</div>
					<div class="signin">
						<a href="#small-dialog2" class="play-icon popup-with-zoom-anim">Sign Up</a>
						<!-- pop-up-box -->
						<script type="text/javascript" src="js/modernizr.custom.min.js"></script>
						<link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
						<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
						<!--//pop-up-box -->
						<div id="small-dialog2" class="mfp-hide">
							<h3>Create Account</h3> 
							<div class="social-sits">
								<div class="facebook-button">
									<a href="#">Connect with Facebook</a>
								</div>
								<div class="chrome-button">
									<a href="#">Connect with Google</a>
								</div>
								<div class="button-bottom">
									<p>Already have an account? <a href="#small-dialog" class="play-icon popup-with-zoom-anim">Login</a></p>
								</div>
							</div>
							<div class="signup">
								<form>
									<div class="form-group row">
										<!-- etiqueta del form, ocupa 2 en dispositvs medianos -->
										<label class="col-sm-2 col-form-label" for="registerName">Nombre:</label>
										<!-- ocupa 10 columnas en medianos, elemento de formulario -->
										<input id="registerName" type="text" required class="col-sm-10 input_res form-control" placeholder="Introduce tu nombre..." />
										<!--La clase de error muestra el texto en color rojo y se usa de manera generica en todos los errores de la web-->
										<!--La clase hidden oculta el elemento ya que el error solo se debe de mostrar en caso de que el campo no sea correcto-->
										<div hidden class="error hidden">
											<!--Muestra el contenido si existe algun error-->
											El nombre no es correcto
										</div>
									</div>
									<br>
									<!--Campo de texto donde hay que introducir el correo de la nueva cuenta de usuario-->
									 <!-- grupo de elementos de formulario, ocupa una fila -->
									<div class="form-group row">
										<!-- etiqueta del form, ocupa 2 en dispositvs medianos -->
										<label class="col-sm-2 col-form-label" for="registerEmail">Correo:</label>
										<!-- ocupa 10 columnas en medianos, elemento de formulario -->
										<input id="registerEmail" type="email" required class="col-sm-10 form-control input_res" placeholder="Correo Electronico" />
										<div hidden class="error hidden">
											El correo no es correcto
										</div>
									</div>
									<br>
									<!-- MISMAS CLASSES QUE EN EL ANTERIOR GRUPO -->
									<!--Campo de texto donde hay que introducir la contraseña de la nueva cuenta de usuario-->
									<div class="form-group row">
										<label class="col-sm-2 col-form-label" for="registerPassword">Contraseña:</label>
										<input id="registerPassword" type="password" pattern=".{6,}" title="Mínimo 6 caracteres" required class="col-sm-10 form-control input_res" placeholder="Contraseña" />
										<div hidden class="error hidden">
											La contraseña no es correcta
										</div>
									</div>
									<br>
									<!--Campo de texto donde hay que repetir la contraseña introducida anteriormente-->
									<div class="form-group row">
										<label class="col-sm-2 col-form-label" for="registerRepeatPassword">Repite la contraseña:</label>
										<input id="registerRepeatPassword" pattern=".{6,}" title="Mínimo 6 caracteres" class="col-sm-10 form-control input_res" type="password" required placeholder="Repite Contraseña" />
										<div hidden class="error hidden">
											La contraseña no coincide
										</div>
									</div>
									<br>
									<div class="form-group row">
										<p class="col-sm-2 col-form-label">Selecciona el tipo de usuario</p>
										<select class="col-sm-10 form-control">
											<option>Publicador</option>
											<option>Espectador</option>
											<option>Administrador</option>
										</select>
										<div class="error">
										</div>
									</div>
									<br>
									<input type="submit"  value="Sign Up"/>
								</form>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div id="small-dialog7" class="mfp-hide">
							<h3>Create Account</h3>
							<div class="social-sits">
								<div class="facebook-button">
									<a href="#">Connect with Facebook</a>
								</div>
								<div class="chrome-button">
									<a href="#">Connect with Google</a>
								</div>
								<div class="button-bottom">
									<p>Already have an account? <a href="#small-dialog"
											class="play-icon popup-with-zoom-anim">Login</a></p>
								</div>
							</div>
							<div class="signup">
								<form action="upload.html">
									<input type="text" class="email" placeholder="Email" required="required"
										pattern="([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?" title="Enter a valid email" />
									<input type="password" placeholder="Password" required="required" pattern=".{6,}"
										title="Minimum 6 characters required" autocomplete="off" />
									<input type="submit" value="Sign In" />
								</form>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div id="small-dialog4" class="mfp-hide">
							<h3>Feedback</h3>
							<div class="feedback-grids">
								<div class="feedback-grid">
									<p>Suspendisse tristique magna ut urna pellentesque, ut egestas velit faucibus.
										Nullam mattis lectus ullamcorper dui dignissim, sit amet egestas orci
										ullamcorper.</p>
								</div>
								<div class="button-bottom">
									<p><a href="#small-dialog" class="play-icon popup-with-zoom-anim">Sign in</a> to get
										started.</p>
								</div>
							</div>
						</div>
						<div id="small-dialog5" class="mfp-hide">
							<h3>Help</h3>
							<div class="help-grid">
								<p>Suspendisse tristique magna ut urna pellentesque, ut egestas velit faucibus. Nullam
									mattis lectus ullamcorper dui dignissim, sit amet egestas orci ullamcorper.</p>
							</div>
							<div class="help-grids">
								<div class="help-button-bottom">
									<p><a href="#small-dialog4" class="play-icon popup-with-zoom-anim">Feedback</a></p>
								</div>
								<div class="help-button-bottom">
									<p><a href="#small-dialog6" class="play-icon popup-with-zoom-anim">Lorem ipsum dolor
											sit amet</a></p>
								</div>
								<div class="help-button-bottom">
									<p><a href="#small-dialog6" class="play-icon popup-with-zoom-anim">Nunc vitae rutrum
											enim</a></p>
								</div>
								<div class="help-button-bottom">
									<p><a href="#small-dialog6" class="play-icon popup-with-zoom-anim">Mauris at
											volutpat leo</a></p>
								</div>
								<div class="help-button-bottom">
									<p><a href="#small-dialog6" class="play-icon popup-with-zoom-anim">Mauris vehicula
											rutrum velit</a></p>
								</div>
								<div class="help-button-bottom">
									<p><a href="#small-dialog6" class="play-icon popup-with-zoom-anim">Aliquam eget ante
											non orci fac</a></p>
								</div>
							</div>
						</div>
						<div id="small-dialog6" class="mfp-hide">
							<div class="video-information-text">
								<h4>Video information & settings</h4>
								<p>Suspendisse tristique magna ut urna pellentesque, ut egestas velit faucibus. Nullam
									mattis lectus ullamcorper dui dignissim, sit amet egestas orci ullamcorper.</p>
								<ol>
									<li>Nunc vitae rutrum enim. Mauris at volutpat leo. Vivamus dapibus mi ut elit
										fermentum tincidunt.</li>
									<li>Nunc vitae rutrum enim. Mauris at volutpat leo. Vivamus dapibus mi ut elit
										fermentum tincidunt.</li>
									<li>Nunc vitae rutrum enim. Mauris at volutpat leo. Vivamus dapibus mi ut elit
										fermentum tincidunt.</li>
									<li>Nunc vitae rutrum enim. Mauris at volutpat leo. Vivamus dapibus mi ut elit
										fermentum tincidunt.</li>
									<li>Nunc vitae rutrum enim. Mauris at volutpat leo. Vivamus dapibus mi ut elit
										fermentum tincidunt.</li>
								</ol>
							</div>
						</div>
						<script>
							$(document).ready(function () {
								$('.popup-with-zoom-anim').magnificPopup({
									type: 'inline',
									fixedContentPos: false,
									fixedBgPos: true,
									overflowY: 'auto',
									closeBtnInside: true,
									preloader: false,
									midClick: true,
									removalDelay: 300,
									mainClass: 'my-mfp-zoom-in'
								});

							});
						</script>
					</div>
					<div class="signin">
						<a href="#small-dialog" class="play-icon popup-with-zoom-anim">Sign In</a>
						<div id="small-dialog" class="mfp-hide">
							<h3>Login</h3>
							<div class="social-sits">
								<div class="facebook-button">
									<a href="#">Connect with Facebook</a>
								</div>
								<div class="chrome-button">
									<a href="#">Connect with Google</a>
								</div>
								<div class="button-bottom">
									<p>New account? <a href="#small-dialog2"
											class="play-icon popup-with-zoom-anim">Signup</a></p>
								</div>
							</div>
							<div class="signup">
								<form>
									<input type="text" class="email" placeholder="Enter email / mobile"
										required="required" pattern="([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?" />
									<input type="password" placeholder="Password" required="required" pattern=".{6,}"
										title="Minimum 6 characters required" autocomplete="off" />
									<input type="submit" value="LOGIN" />
								</form>
								<div class="forgot">
									<a href="#">Forgot password ?</a>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</nav>

	<div class="col-sm-3 col-md-2 sidebar">
		<div class="top-navigation">
			<div class="t-menu">MENU</div>
			<div class="t-img">
				<img src="images/lines.png" alt="" />
			</div>
			<div class="clearfix"> </div>
		</div>
		<!-- vertical navbar -->
		<div class="drop-navigation drop-navigation">

			<ul class="nav nav-sidebar">




				<!-- TAB INICIO (seleccionat) -->
				<li class="active"> 
					<a href="index.html" class="home-icon">
						<!-- Icono de casa -->
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
						Inicio
					</a>

				</li>





				<!-- TAB VIDEOS -->
				<li>
					<a href="#" class="menu1">
						<!-- icono video -->
						<span class="glyphicon glyphicon-film" aria-hidden="true"></span>
						Videos
						<!-- icono fletxa de desplegar -->
						<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
					</a>
				</li>
				<!-- menu desplegable -->
				<ul class="cl-effect-2">
					<li><a href="videos.html">Todos</a></li>
					<li><a href="videos.html">Deportes</a></li>
					<li><a href="videos.html">Educación</a></li>
					<li><a href="videos.html">Humor</a></li>
					<li><a href="videos.html">Noticias</a></li>
					<li><a href="videos.html">Tiempo libre</a></li>
					<li><a href="videos.html">Otros</a></li>
					<li><a href="videos.html">Aleatorio</a></li>
				</ul>
				<!-- script para controlar el comportamiento de los desplegables-->
				<script>
					$("li a.menu1").click(function () {
						// al pulsar en el menu alterna entre plegado y desplegado
						$("ul.cl-effect-2").slideToggle(300, function () {
							// Animation complete.
						});
					});
				</script>




				<!-- TAB AUDIOS -->
				<li>
					<a href="#" class="cl-effect-1_audio">
						<span class="glyphicon glyphicon-music" aria-hidden="true"></span>
						Audios
						<!-- icono fletxa de desplegar -->
						<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
					</a>
				</li>
				<!-- menu desplegable -->
				<ul class="cl-effect-2_audios">
					<li><a href="audios.html">Todos</a></li>
					<li><a href="audios.html">Deportes</a></li>
					<li><a href="audios.html">Educación</a></li>
					<li><a href="audios.html">Humor</a></li>
					<li><a href="audios.html">Noticias</a></li>
					<li><a href="audios.html">Tiempo libre</a></li>
					<li><a href="audios.html">Otros</a></li>
					<li><a href="audios.html">Aleatorio</a></li>
				</ul>
				<!-- script para controlar el comportamiento de los desplegables-->
				<script>
					$("ul.cl-effect-2_audios").slideToggle(0) // close on start
					$("li a.cl-effect-1_audio").click(function () {
						// al pulsar en el menu alterna entre plegado y desplegado
						$("ul.cl-effect-2_audios").slideToggle(300, function () {
							// Animation complete.
						});
					});
				</script>




				<!-- TAB MI MULTIMEDIA -->
				<li>
					<a href="#" class="menu_multim">
						<span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
						Mi multimedia
						<!-- icono fletxa de desplegar -->
						<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
					</a>
					<!-- menu desplegable -->
					<ul class="cl-effect-1_multim">
						<li><a href="misVideos.html">Videos</a></li>
						<li><a href="misAudios.html">Audios</a></li>
					</ul>
				</li>

				<!-- script para controlar el comportamiento de los desplegables-->
				<script>
					$("ul.cl-effect-1_multim").slideToggle(0) // close on start
					$("li a.menu_multim").click(function () {
						// al pulsar en el menu alterna entre plegado y desplegado
						$("ul.cl-effect-1_multim").slideToggle(300, function () {
							// Animation complete.
						});
					});
				</script>





				<!-- TAB LISTA REPRODUCCIÓN -->
				<li>
					<a href="#" class="menu">
						<span class="glyphicon glyphicon-list" aria-hidden="true"></span>
						Lista de reproducción
						<!-- icono fletxa de desplegar -->
						<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
					</a>
					<!-- menu desplegable -->
					<ul class="cl-effect-1">
						<li><a href="lrVideos.html">Videos</a></li>
						<li><a href="lrAudios.html">Audios</a></li>
					</ul>
				</li>

				<!-- script para controlar el comportamiento de los desplegables-->
				<script>
					$("li a.menu").click(function () {
						// al pulsar en el menu alterna entre plegado y desplegado
						$("ul.cl-effect-1").slideToggle(300, function () {
							// Animation complete.
						});
					});
				</script>





				<!-- TAB DIRECTO -->
				<li>
					<a href="directo.html">
						<span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
						Directo
					</a>
				</li>


				<!-- TAB SUBIR MULTIMEDIA -->
				<li>
					<a href="subirVideos.html">
						<span class="glyphicon glyphicon-cloud-upload" aria-hidden="true">
						</span>
						Subir Multimedia
					</a>
				</li>

				<!-- TAB ADMINISTRACIÓN -->
				<li>
					<a href="#" class="menu_admin">
						<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
						Administración
						<!-- icono fletxa de desplegar -->
						<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
					</a>
					<!-- menu desplegable -->
					<ul class="cl-effect-1_admin">
						<li><a href="adminUsuarios.html">Usuarios</a></li>
						<li><a href="adminVideos.html">Videos</a></li>
						<li><a href="adminAudios.html">Audios</a></li>
					</ul>
				</li>
				
				<!-- script para controlar el comportamiento de los desplegables-->
				<script>
					$("ul.cl-effect-1_admin").slideToggle(0) // close on start
					$("li a.menu_admin").click(function () {
						// al pulsar en el menu alterna entre plegado y desplegado
						$("ul.cl-effect-1_admin").slideToggle(300, function () {
							// Animation complete.
						});
					});
				</script>

				<!-- TAB INFORMACIÓN -->
				<li>
					<a href="about.html">
						<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
						Información
					</a>
				</li>
			</ul>
			<!-- script para controlar el comportamiento de los desplegables-->
			<script>
				$(".top-navigation").click(function () {
					// al pulsar en el menu alterna entre plegado y desplegado
					$(".drop-navigation").slideToggle(300, function () {
						// Animation complete.
					});
				});
			</script>






			<div class="side-bottom">
				<div class="side-bottom-icons">
					<ul class="nav2">
						<li><a href="#" class="facebook"> </a></li>
						<li><a href="#" class="facebook twitter"> </a></li>
						<li><a href="#" class="facebook chrome"> </a></li>
						<li><a href="#" class="facebook dribbble"> </a></li>
					</ul>
				</div>
				<div class="copyright">
					<p>Copyright © 2015 My Play. All Rights Reserved | Design by <a
							href="http://w3layouts.com/">W3layouts</a></p>
				</div>
			</div>
		</div>
	</div>
		<!-- CONTENIDO DE LA PÁGINA -->
        <div class="col-12 col-sm-offset-3 col-md-10 col-md-offset-2 main text-center">
			<!-- fas fa-xxxx para los iconos de los botones utilizando la libreria fontawesome -->
            <h3><span class="blue">Video en directo</span></h3>
            <h5>%USER%, bienvenido a <span class="blue">iUTiUB</span></h5>
            <audio src="./multimedia/audio/movieCountdown.mp3" id="movieCountdown"></audio> <!-- Fuente del audio de la cuenta atrás -->
            <canvas width="1080" height="800" id="countDown" style="width: 70%"></canvas> <!-- Cuenta atrás del vídeo -->
            <video width="70%" controls="controls" id="play-video"> <!-- Vídeo que se va a reproducir -->
                <source id="videosource" src="./multimedia/video/movie_clip1.mp4" type="video/mp4" />
                Your browser does not support the video element.
            </video>
            <br>
            <!-- btn para hacer un boton y btn-success pera hacerlo verde -->
            <!-- mt-1 para poner 1 unidad de margen arriba -->
            <button class="mt-1 btn btn-success" id="play" onclick="startCountdown();">
                Play <i class="fas fa-play-circle"></i>
            </button>
            <!-- botón pause -->
            <!-- btn para hacer un boton y btn-danger pera hacerlo rojo -->
            <!-- mt-1 para poner 1 unidad de margen arriba -->
            <button class="mt-1 btn btn-danger" id="pause" onclick="pauseVideo();">
                Pause <i class="fas fa-pause-circle"></i>
            </button>
            <!-- botón stop -->
            <!-- btn para hacer un boton y btn-danger pera hacerlo rojo -->
            <!-- mt-1 para poner 1 unidad de margen arriba -->
            <button class="mt-1 btn btn-danger" id="stop" onclick="stopVideo()">
                Stop <i class="fas fa-stop-circle"></i>
            </button>

            <!-- mt-3 para poner 3 unidades de margen arriba -->
            <!-- card para formato carta/tarjeta -->
            <div class="mt-3 card liketable">
                <!-- la cabecera de la sección -->
                <div class="card-header header headertable">
                    <b card-title>Buscando emisión en directo</b>
                </div>
                <!-- card-bbody para el cuerpo de la seccion -->
                <!-- row para que sea una fila -->
                <div class="card-body row">
                    <!-- col-md-6 para hacer 6 columnas en formato escritorio -->
                    <div class="col-md-6">
                        <!-- mt-3 para poner 3 unidades de margen arriba -->
                        <div class="mt-3 card">
                            <!-- la cabecera de la sección -->
                            <!-- bg-primary para el fondo de color azul -->
                            <!-- texto en blanco -->
                            <div class="card-header bg-primary text-white header">
                                <p class="h5">Noticias iUTiUB</p>
                            </div>
                            <!-- texto de la seccion -->
                            <!-- padding de 5 unidades -->
                            <p class="card-text p-5">Deporte iUTiUB</p class="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- mt-3 para poner 3 unidades de margen arriba -->
                        <div class="mt-3 card">
                            <!-- la cabecera de la sección -->
                            <!-- bg-primary para el fondo de color azul -->
                            <!-- texto en blanco -->
                            <div class="card-header text-white bg-primary header">
                                <p class="h5"> Toda la actualidad del momento a las 14:30. </p>
                            </div>
                            <!-- texto de la seccion -->
                            <!-- padding de 5 unidades -->
                            <p class="card-text p-5">Partido de fútbol a las 17:30.
                                Real Madrid CF - Valencia CF</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- mt-3 para poner 3 unidades de margen arriba -->
                        <div class="mt-3 card">
                            <!-- la cabecera de la sección -->
                            <!-- bg-primary para el fondo de color azul -->
                            <!-- texto en blanco -->
                            <div class="card-header text-white bg-primary header">
                                <p class="h5">Noticias iUTiUB</p>
                            </div>
                            <!-- texto de la seccion -->
                            <!-- padding de 5 unidades -->
                            <p class="card-text p-5">Deporte iUTiUB</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- mt-3 para poner 3 unidades de margen arriba -->
                        <div class="mt-3  card">
                            <!-- la cabecera de la sección -->
                            <!-- bg-primary para el fondo de color azul -->
                            <!-- texto en blanco -->
                            <div class="card-header text-white bg-primary header">
                                <p class="h5"> Toda la actualidad del momento a las 21:30.</p>
                            </div>
                            <!-- texto de la seccion -->
                            <!-- padding de 5 unidades -->
                            <p class="card-text p-5">Partido de Basket a las 22:30.

                                Real Madrid - Valencia Basket</p>
                        </div>
                    </div>
                </div>
            </div>
			<!-- //footer -->
		</div>
		<div class="clearfix"> </div>
	<div class="drop-menu">
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">
		  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Regular link</a></li>
		  <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Disabled link</a></li>
		  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another link</a></li>
		</ul>
	</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/video_controls.js"></script>
    <script src="js/canvasCountdown.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
  </body>
</html>