body {
    margin: 0px;
    font-family: Helvetica, Arial, Sans-Serif;
}

table, td, th{ 
    border: 0px solid black;
    border-collapse: collapse;
}

td {
    text-align: center;
}

table {
    width: 100%;
    height: 100%;
}

#mainTable {
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
}

#register h1, #login h1 {
    text-align: center;
    background: rgb(21, 130, 255);
    color: #fff;
    padding: 20px;
}

.blue {
    color: rgb(21, 130, 255);
    font-weight: bold;
}

.left {
    text-align: left;
}

.thumbnails {
    width: 100%;
    height: 150px;
    font-size: 150px;
    text-align: center;
}

#registerTable, #loginTable {

    width: 50px;
    margin: 0 50px;
    margin-left: 25%;
    margin-right: 100%;
    position: relative;
    left: 50%;
    text-align: center;
    width: 500px;
    margin-left: -250px;
}

#registerTable th, #loginTable th {
    background: #333;
    color: #fff;
}

#registerTable td, #loginTable td {
    padding: 20px;
}

thead, tfoot {
    color: white;
    background-color: #333;
}

.left-navbar {
    color: white;
    background-color: #333;
    cursor: pointer;
}

.left-navbar:hover {
    background-color: rgb(21, 130, 255);
}

#pageContent {
    background-color: #eee;
    color: black;
}

.top-navbar {
    cursor: pointer;
}

.top-navbar:hover {
    background-color: rgb(21, 130, 255);
}

.top-navbar:active {
    background-color: rgb(5, 113, 255);
}


.error {
    color: #f00;
}

.hidden {
    display: none;
}

.greydiv {
    border: 1px solid black; 
    border-radius:15px; 
    background-color: lightgrey; 
    margin-left: 25%; 
    margin-right:25%;
    padding: 10px 30px;
}

.regularWeight {
    font-weight:normal;
}

.link {
    color: #fff;
    text-decoration: none;
    display: block;
}

.bigIcon {
    font-size: 50px;
}

.index-return {
    position: absolute;
    top: 40px;
    left: 20px;
    color: #fff;
    font-size: 35px;
}

fieldset {
    border: 5px solid #ddd;
    border-radius: 5px;
}

legend {
    background: #ebeced;
    padding: 5px 10px;
    border-radius: 5px;
}

summary::marker {
    font-size: 0;
}

summary {
    outline: none;
}
details ul {
    list-style: none;
}
details li {
    text-align: left;
    margin-left: 20%;
    border-left: 3px solid #1582ff;
    border-spacing: 10px;
    border-collapse: separate;
    padding-bottom: 5px;
    padding-left: 5px;
}

details li a {
    text-decoration: none;
    color: #fff;
}

.left-navbar:hover details li {
    border-color: #000;
}
.bluebox {
    background: lightblue;
    color: navy;
}

.datatable thead {
    background-color: lightgray;
    color: black;
}